# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Jaques\Downloads\LEI\Ano2\1_Semestre\ED\TrabalhoPratico\LEI_ED_TP_2020_2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
